/* desktop */

body {
    background-color: rgb(255, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
}

/* grid index */

@media (min-width: 577px) {
.container {
    display: grid;
    grid-template-columns: 0.1fr auto 0.1fr;
    grid-template-rows: 5fr 50% 50% 5fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      ". img ."
      ". . ."
      "footer footer footer";
  }
.header {
        grid-area: header;
        background: linear-gradient(to bottom right, black, rgb(164, 156, 158));
}

@keyframes animacion {
<<<<<<< HEAD
    0% {font-size: 10px;}
    25% {font-size: 12px;}
    50% {font-size: 18px;}
    75% {font-size: 12px;}
    100% {font-size: 18px;}
=======
    0% {font-size: 5px;}

    100% {font-size: 16px;}
>>>>>>> rama-desafio
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(239,255,205);
    margin-left: 10px;
    height: 35px;
    width: 220px;
    margin-top: 10px;
    animation-name: animacion;
    animation-iteration-count: 1s;
    animation-timing-function: ease-in;
    animation-duration: 2s;
<<<<<<< HEAD
=======
    font-size: 16px;
    text-align: center;
>>>>>>> rama-desafio
    
}

.footer { 
      grid-area: footer;
      background: linear-gradient(to bottom right, black, white);
      display: flex;
      flex-direction: column;
      align-items: center;

}
  
.img { 
    grid-area: img; 
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bolder;
    list-style-type: none;


}

.menu li {
    width: 160px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height .5s;
}

.menu li:hover {
    width: 180px;
    height: 40px;
    background-color: white;
    border: 5px yellow solid;
    font-weight: 900;
    font-style: oblique;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}
.menu a:hover {
    color:black

}


.container2 {
    display: grid;
    grid-template-columns: 0.1fr auto 0.1fr;
    grid-template-rows: 5fr 10% 80% 5fr;
    gap: 2px 2px;
    grid-template-areas:
      "header header header"
      ". section1 ."
      ". section2 ."
      "footer footer footer";
  }
  
  .header { grid-area: header; }
  
  .section1 { grid-area: section1;
}
  
.producto ul {  
        background-color: rgb(220,233,190);
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.producto a{
    text-decoration: none;
    color: rgb(153,23,60);
    font-weight: bolder;
}
  
.section2 { 
    grid-area: section2;
}

.footer { grid-area: footer; }

.imgProd {
    width: 150px;
}


.lista {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
}
.card {
    background-color: rgb(220,233,190);
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    transition: width 1s;
}

.card:hover {
    width: 300px;
    background-color: gray;
}

/* grid productos */

h3 {
    font-size: 25px;
    margin: 2px;
    color: rgb(153,23,60);

}
.precio {
    margin: 2px;
    font-size: 15px;
}
.redesSociales a img{
    width: 30px;
}

.productos{
    list-style-type: none;
}

/* page oferta */

.ofertaTitulo {
    display: flex;
    justify-content: center;
}

.menuOferta{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.menuOferta a{
    text-decoration: none;
    color:rgb(153,23,60);
    font-weight: bolder;

}

.oferta div{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgb(220,233,190);
    width: 400px;
    color: white;
    position: relative;
}
.oferta img{
    width: 250px;
    padding: 10px;
}
.descuento{
    position: absolute;
    top: 0;
    left: 2px;
    background-color: red;
    color: yellow;
    padding: 2px;
    font-weight: bolder;
}

/* page contacto */

.imgContacto{
width: 600px;

}
#contacto{
    background-color: rgb(220,233,190);
    color: rgb(153,23,60);
    width: 600px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#contacto fieldset div{
    margin-bottom: 8px;

}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto {
display: flex;
justify-content: center;
}

/* page empresa */

.tituloEmpresa {
    color: rgb(46,38,51);
    font-weight: 800;
}


.imagenEmpresa {
    height: 400px; 
    border: solid 2px black;
}

.textoEmpresa {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
} 
}


/* movile */

@media (max-width: 575.98px) { 
    .container {
        display: grid;
        grid-template-columns: 0.1fr auto 0.1fr;
        grid-template-rows: 5fr 50% 50% 5fr;
        gap: 0px 0px;
        grid-template-areas:
          "header header header"
          ". img ."
          ". . ."
          "footer footer footer";
      }
    .header {
            grid-area: header;
            background-color: rgb(46,38,51);
    }
    .titulo {
        display: flex;
        justify-content: center;
        color: rgb(239,255,205);
        margin-left: 10px;
    }
      
    .footer { 
          grid-area: footer;
          background-color: rgb(85,81,82);
          display: flex;
          flex-direction: column;
          align-items: center;
    }
      
    .img { 
        grid-area: img; 
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .imgIndex {
        max-width: 470px;
    }
    



    .menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        font-weight: bolder;
        list-style-type: none;
        
    }
    .menu a{
        text-decoration: none;
        color: white;
     
    }
    .container2 {
        display: grid;
        grid-template-columns: 0.1fr auto 0.1fr;
        grid-template-rows: 5fr 5% 95% 5fr;
        gap: 2px 2px;
        grid-template-areas:
          "header header header"
          ". section1 ."
          ". section2 ."
          "footer footer footer";
      }
      
      .header { grid-area: header; }
      
      .section1 { grid-area: section1;
    }
      
    .producto ul {  
            background-color: rgb(220,233,190);
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    .producto a{
        text-decoration: none;
        color: rgb(153,23,60);
        font-weight: bolder;
    }
      
    .section2 { 
        grid-area: section2; 
    }
    
    .footer { grid-area: footer; }

    .footer img {
        width: 30px ;
    }
    
    .imgProd {
        width: 150px;
    }
    .lista {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .card {
        background-color: rgb(220,233,190);
        padding: 10px;
        margin: 10px;
        width: 250px;
        text-align: center;
    }
}

